<tr>
  <td>
    <%= link_to disease.code, disease.children.count == 0 ? details_employee_diseases_path(disease) : employee_disease_path(disease) %>
  </td>
  <td><%= disease.name %></td>
  <td><%= disease.children.count %></td>
  <% if can?(:create, Disease) %>
    <td>
      <div class="row">
        <%= link_to 'Edycja', edit_employee_disease_path(disease), class: 'btn btn-info btn-xs' %>
        <%= link_to 'Usuń', [:employee, disease], method: :delete, class: 'btn btn-danger btn-xs',  data: {confirm: "Jesteś pewien?"} %>
      </div>
    </td>
  <% end %>
</tr>