<%= form_for([:employee, @disease], html: {class: 'form-horizontal', novalidate: true}, data: {parsley_validate: ''}) do |f| %>

  <div class="form-group">
    <%= f.label :code, 'Kod', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :code, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, 'Nazwa', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, 'Opis', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: 'form-control', rows: 10 %>
    </div>
  </div>
  <%= f.hidden_field :parent_id %>

  <%= f.submit 'Zapisz', class: 'btn btn-primary' %>

<% end %>
