<div class="content-heading">
  Słownik chorób ICD-10
  <%= build_employee_disease_breadcrumb(@disease) %>
  <div class="clearfix">
    <div class="pull-right">
      <div class="form-actions">
        <%= angle_back_link(@disease.parent.present? ? employee_disease_path(@disease.parent) : employee_diseases_path) %>
        <% if can? :new, Disease %>
          <%= link_to 'Nowe kategoria', new_employee_diseases_path, class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h3><%= @disease.code %></h3>
  </div>
  <div class="panel-body">
    <fieldset>
      <legend>Informacje Ogólne</legend>
      <table class="table">
        <tbody>
        <tr>
          <th class="col-sm-3">Nazwa:</th>
          <th><%= @disease.name %></th>
        </tr>
        <tr>
          <th>Kod:</th>
          <th><%= @disease.code %></th>
        </tr>
        <tr>
          <th>Opis:</th>
          <th><%= @disease.description %></th>
        </tr>
        </tbody>
      </table>
    </fieldset>

  </div>
</div>
<style>
  legend {
    border: none;
  }
</style>