<div class="content-heading">
  <div class="clearfix">
    <div class="pull-left">
      <%= "Słownik chorób ICD-10" %> <br/>
      <small>
        <small>Edytuj chorobę <%= disease_tree @disease %></small>
      </small>
    </div>
    <div class="pull-right">
      <div class="btn-group">
        <%= angle_back_link(@disease.parent.present? ? employee_disease_path(@disease.parent) : employee_diseases_path) %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Formularz edycji</h4>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
