<div class="content-heading">
  Słownik chorób ICD-10
  <div class="pull-right">
    <div class="btn-group">
      <% if can? :new, Disease %>
        <div class="form-actions">
          <%= link_to 'Nowe kategoria', new_root_employee_diseases_path, class: 'btn btn-success' %>
          <%= link_to 'Pobierz choroby z pliku', import_employee_diseases_path, class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4> Lista kategorii chorób</h4>
        </div>
        <div class="panel-body">
          <%= content_tag :table, id: 'disease-categories-table', class: 'table table-striped table-hover' do %>
            <thead>
            <tr>
              <th>Kod</th>
              <th>Nazwa</th>
              <th>Liczba podkategorii</th>
              <% if can?(:edit, @diseases_categories) %>
                <th>Akcje</th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <%= render partial: 'disease', collection: @diseases%>
            </tbody>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
