<div class="unwrap">
  <div class="bg-cover">
    <div class="container container-md pv-lg">
      <div class="text-center mb-lg pb-lg">
        <div class="h1 text-bold">Witaj w przychodni</div>
        <p>Zaloguj się jako</p>
      </div>
    </div>
  </div>
</div>
<div class="container container-md">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="panel b">
        <div class="panel-body text-center">
          <a href="/patient/sign_in" class="link-unstyled text-success">
            <em class="fa fa-5x fa-street-view mb-lg"></em>
            <br/>
            <span class="h4">Pacjent</span>
            <br/>
            <small class="text-muted">Zaloguj się jako pacjent &rarr;</small>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel b">
        <div class="panel-body text-center">
          <a href="/employee/sign_in" class="link-unstyled text-warning">
            <em class="fa fa-5x fa-building-o mb-lg"></em>
            <br/>
            <span class="h4">Pracownik</span>
            <br/>
            <small class="text-muted">Zaloguj się jako pracownik &rarr;</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
