.Modal {
    position: absolute;
    width: 400px;
    height: 100px;
    top: 40px;
    left: 40px;
    right: 40px;
    text-align: center;
    bottom: 40px;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}