<tr>
  <td><%= appointment.patient.full_name %></td>
  <td><%= appointment.actual_start.localtime.strftime("%d-%m-%Y") %></td>
  <td><%= appointment.actual_start.localtime.strftime("%H:%M") %></td>
  <td><%= appointment.actual_end.localtime.strftime("%H:%M") %></td>
  <td>
    <%= link_to 'Podsumowanie', summary_employee_appointment_path(appointment.id), target: '_blank', class: 'btn btn-success btn-xs' %>
  </td>
</tr>