<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>-->
  <%= wicked_pdf_javascript_include_tag "https://code.jquery.com/jquery-3.2.1.min.js" %>
  <%= wicked_pdf_javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js" %>
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
</head>
<body onload='setDoctorAppointmentsChart()'>
<div class="container-fluid">
  <div class="col-xs-12">
    <h2 align="center">Statystyki</h2>
  </div>
</div>
<h3>Informacje ogólne</h3>
<div class="panel-body">
  <p><b>Lekarz:</b> <%= @report[:doctor_name] %></p>
  <p><b>Zakres dat:</b> Od <%= @report_filter[:start_date] %> do <%= @report_filter[:end_date] %></p>
  <p><b>Przeprowadzonych wizyt w wybranym przedziale:</b> <%= @report[:doctor_appointments].count %></p>
  <p><b>Liczba zdiagnozowanych chorób:</b> <%= @report[:doctor_diagnosed_diseases_count] %></p>
  <p><b>Liczba wystawionych recept:</b> <%= @report[:doctor_prescription_count] %></p>
  <h3>Wykres wizyt lekarskich</h3>
  <br/>
  <canvas id="setDoctorAppointmentDateChart" width="800" height="300"></canvas>
  <h3>Rozkład liczby przeprowadzonych wizyt</h3>
  <br/>
  <div class="appointmentsCanvas">
    <canvas id="doctorAppointmentsChart" width="400" height="400"></canvas>
  </div>
</div>
<script>


    <% if @report.present? %>
    setDoctorAppointmentDateChart();

    function setDoctorAppointmentDateChart() {
        var timeFormat = 'DD/MM/YYYY';
        var doctorName = '<%= @report[:doctor_name] %>';
        var appointmentsPerDay = <%= @report[:doctor_appointments_per_day].to_json.html_safe %>;
        var labels = appointmentsPerDay.map(function (a) {
            return a.day
        });
        var data = appointmentsPerDay.map(function (a) {
            return a.appointments_count

        });
        new Chart(document.getElementById("setDoctorAppointmentDateChart"), {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: doctorName,
                        data: data,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderWidth: 1
                    }
                ]
            },
            options: {
                responsive: false,
                legend: {display: false},
                scales: {
                    yAxes: [{
                        ticks: {
                            stepSize: 1
                        }
                    }]
                }
            }
        });
    }

    function setDoctorAppointmentsChart() {
        var doctorAppointments = <%= @report[:doctor_appointments].count%>;
        var allAppointments = <%= @report[:all_appointments_count]%>;
        var others = allAppointments - doctorAppointments;
        var doctorName = '<%= @report[:doctor_name] %>';
        var ctx = document.getElementById("doctorAppointmentsChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Pozostali lekarze", doctorName],
                datasets: [{
                    label: '# of Votes',
                    data: [others, doctorAppointments],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255,99,132,1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false
            }
        });

    }

    <% end %>
</script>
<style>
  canvas {
    padding: 0;
    margin: auto;
    display: block;
  }
</style>
</body>
</html>
