<div class="content-heading">
  <div class="clearfix">
    <% if @current_user.admin? %>
      Raport lekarzy<br/>
      <small>Wybierz lekarza aby wygenerować statystyki</small>
    <% else %>
      Raport lekarza - <%= @current_user.full_name %>
    <% end %>
    <div class="pull-right">
      <% if @report.present? %>
        <%= link_to 'Generuj PDF', employee_reports_doctors_path(report_filter: {doctor: @report_filter.doctor, start_date: @report_filter.start_date, end_date: @report_filter.end_date}, format: 'pdf'), class: "btn btn-success", target: '_blank' %>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel b">
        <div class="panel-heading">
          <div class="panel-title text-center">Wybierz dzień wizyty</div>
        </div>
        <div class="panel-body text-center">
          <%= form_tag employee_reports_doctors_path, method: :get, class: 'form-horizontal' do %>
            <% if @current_user.admin? %>
              <div class="form-group">
                <%= label_tag :doctor, 'Lekarz:', class: 'col-sm-2 control-label' %>
                <div class="col-sm-10">

                  <%= collection_select :report_filter, :doctor, Employee.doctor, :id, :full_name, {selected: @report_filter.try(:doctor), prompt: 'Wybierz lekarza'}, {class: 'form-control'} %>

                </div>
              </div>
            <% else %>
              <%= hidden_field_tag 'report_filter[doctor]', @current_user.id %>
            <% end %>
            <div class="form-group">
              <%= label_tag :start_date, 'Data początkowa:', class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= date_field_tag 'report_filter[start_date]', @report_filter.try(:start_date), class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag :end_date, 'Data początkowa:', class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= date_field_tag 'report_filter[end_date]', @report_filter.try(:end_date), class: 'form-control' %>
              </div>
            </div>
            <%= submit_tag 'Generuj statystyki' %>
          <% end %>
        </div>
      </div>
      <% if @report.present? %>
        <div class="panel b">
          <div class="panel-heading">
            <div class="panel-title text-center">Statystyki</div>
          </div>
          <div class="panel-body">
            <p><b>Lekarz:</b> <%= @report[:doctor_name] %></p>
            <p><b>Zakres dat:</b> Od<%= @report_filter[:start_date] %> do <%= @report_filter[:end_date] %></p>
            <p><b>Przeprowadzonych wizyt w wybranym przedziale:</b> <%= @report[:doctor_appointments].count %></p>
            <p><b>Liczba zdiagnozowanych chorób:</b> <%= @report[:doctor_diagnosed_diseases_count] %></p>
            <p><b>Liczba wystawionych recept:</b> <%= @report[:doctor_prescription_count] %></p>
            <h3>Rozkład liczby przeprowadzonych wizyt</h3>
            <canvas id="doctorAppointmentsChart" width="50" height="50"></canvas>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-xs-12">
          <% if @report.present? %>
            <div class="panel b">
              <div class="panel-heading">
                <div class="panel-title text-center"><h3>Rozkład wizyt</h3></div>
              </div>
              <div class="panel-body">

                <canvas id="setDoctorAppointmentDateChart" height="70"></canvas>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <% if @report.present? %>
            <div class="panel b">
              <div class="panel-heading">
                <div class="panel-title text-center"><h3>Spis wizyt</h3></div>
              </div>
              <div class="panel-body">
                <table id="doctorRaportTable" class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th>Pacjent</th>
                    <th>Dzień</th>
                    <th>Godzina rozpoczęcia</th>
                    <th>Godzina zakończenia</th>
                    <th>Akcje</th>
                  </tr>
                  </thead>
                  <tbody>
                  <%= render partial: 'employee/reports/doctor_appointment', collection: @report[:doctor_appointments], as: :appointment %>
                  </tbody>
                </table>

              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
<script type="text/javascript">
    <% if @report.present? %>
    window.onload = function (e) {
        setDoctorAppointmentsChart();
        setDoctorAppointmentDateChart();
    };

    function setDoctorAppointmentDateChart() {
        var timeFormat = 'DD/MM/YYYY';
        var doctorName = '<%= @report[:doctor_name] %>';
        var appointmentsPerDay = <%= @report[:doctor_appointments_per_day].to_json.html_safe %>;
        var labels = appointmentsPerDay.map((a) => a.day);
        var data = appointmentsPerDay.map((a) => {
            return a.appointments_count

        });
        var ctx = document.getElementById("setDoctorAppointmentDateChart").getContext('2d');
        var cfg = {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: doctorName,
                    data: data,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255,99,132,1)',
                    borderWidth: 1,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            stepSize: 1
                        }
                    }]
                }
            }
        };
        var chart = new Chart(ctx, cfg);

    }

    function setDoctorAppointmentsChart() {
        var doctorAppointments = <%= @report[:doctor_appointments].count%>;
        var allAppointments = <%= @report[:all_appointments_count]%>;
        var others = allAppointments - doctorAppointments;
        var doctorName = '<%= @report[:doctor_name] %>';
        var ctx = document.getElementById("doctorAppointmentsChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Pozostali lekarze", doctorName],
                datasets: [{
                    label: '# of Votes',
                    data: [others, doctorAppointments],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255,99,132,1)'
                    ],
                    borderWidth: 1
                }]
            }
        });

    }

    <% end %>


</script>