<div class="content-heading">
  <div class="clearfix">
    <% if @current_user.is_a? Patient %>
      Raport pacjentów<br/>
      Raport pacjenta - <%= @current_user.full_name %>
    <% else %>
      <small>Wybierz pacjenta aby wygenerować statystyki</small>
    <% end %>
    <div class="pull-right" id="generatePatientReportPdf">
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel b">
        <div class="panel-heading">
          <div class="panel-title text-center">Wybierz przedział wizyt</div>
        </div>
        <div class="panel-body text-center">
          <div class="form-horizontal"/>
          <% if @current_user.is_a? Patient %>
            <%= hidden_field_tag 'report_filter[patient]', current_patient.id %>
          <% elsif params[:patient].present? %>
            <%= hidden_field_tag 'report_filter[patient]', params[:patient] %>
          <% else %>
            <div class="form-group">
              <%= label_tag :doctor, 'Pacjent:', class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">

                <%= collection_select :report_filter, :patient, Patient.all, :id, :full_name, {prompt: 'Wybierz pacjenta'}, {class: 'form-control'} %>

              </div>
            </div>
          <% end %>
          <div class="form-group">
            <%= label_tag :start_date, 'Data początkowa:', class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= date_field_tag 'report_filter[start_date]', @report_filter.try(:start_date), class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :end_date, 'Data początkowa:', class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= date_field_tag 'report_filter[end_date]', @report_filter.try(:end_date), class: 'form-control' %>
            </div>
          </div>
          <%= submit_tag 'Generuj statystyki', id: 'patient_report_submit' %>
        </div>
      </div>
    </div>
    <div class="panel b">
      <div class="panel-heading">
        <div class="panel-title text-center">Statystyki</div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <p><b>Pacjent:</b></p>
          </div>
          <div class="col-xs-6">
            <p id="staticticsPatient"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p><b>Zakres dat:</b></p>
          </div>
          <div class="col-xs-6">
            <p id="staticticsDateRange"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p><b>Odbytych wizyt :</b></p>
          </div>
          <div class="col-xs-6">
            <p id="staticticsVistsCount"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p><b>Liczba zdiagnozowanych chorób:</b></p>
          </div>
          <div class="col-xs-6">
            <p id="staticticsDiagnosedDiseases"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p><b>Liczba wypisanych recept:</b></p>
          </div>
          <div class="col-xs-6">
            <p id="staticticsPrescriptionsCount"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p><b>Liczba przepisanych leków:</b></p>
          </div>
          <div class="col-xs-6">
            <p id="staticticsMedicinesCount"></p>
          </div>
        </div>
        <h3></h3>
        <canvas id="doctorsAppointmentsDistributionChart" width="50" height="50"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel b">
          <div class="panel-heading">
            <div class="panel-title text-center"><h3>Rozkład wizyt</h3></div>
          </div>
          <div class="panel-body">
            <canvas id="patientAppointmentsDistributionChart" height="70"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel b">
          <div class="panel-heading">
            <div class="panel-title text-center"><h3>Przepisywane leki</h3></div>
          </div>
          <div class="panel-body">
            <table id="patientMedicinesStatistics" class="table table-striped table-hover">
              <thead>
              <tr>
                <th>Lek</th>
                <th>Ilość wypisań</th>
                <th>Akcje</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="panel b">
          <div class="panel-heading">
            <div class="panel-title text-center"><h3>Diagnozowane choroby</h3></div>
          </div>
          <div class="panel-body">
            <table id="patientDiseasesStatistics" class="table table-striped table-hover">
              <thead>
              <tr>
                <th>Choroba</th>
                <th>Ilość diagnoz</th>
                <th>Akcje</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>