<tr>
  <td>
    <%= link_to disease.code, disease.children.count == 0 ? details_patient_diseases_path(disease) : patient_disease_path(disease) %>
  </td>
  <td><%= disease.name %></td>
  <td><%= disease.children.count %></td>
</tr>