<div class="breadcrumb bb bt br bl">
  <div class="pull-right">
    <div class="btn-group">
      <%= angle_back_link(@disease.parent.present? ? patient_disease_path(@disease.parent) : patient_diseases_path) %>
    </div>
  </div>
  <h3> Baza chorób<br/>
  </h3>
  <%= build_disease_breadcrumb(@disease) %>
</div>
<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h3><%= @disease.code %></h3>
  </div>
  <div class="panel-body">
    <fieldset>
      <legend>Informacje Ogólne</legend>
      <table class="table">
        <tbody>
        <tr>
          <th class="col-sm-3">Nazwa:</th>
          <th><%= @disease.name %></th>
        </tr>
        <tr>
          <th>Kod:</th>
          <th><%= @disease.code %></th>
        </tr>
        <tr>
          <th>Opis:</th>
          <th><%= @disease.description %></th>
        </tr>
        </tbody>
      </table>
    </fieldset>

  </div>
</div>
<style>
  legend {
    border: none;
  }
</style>