<div class="breadcrumb bb bt br bl">
  <h3> Baza chorób<br/>
  </h3>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4> Lista kategorii chorób</h4>
        </div>
        <div class="panel-body">
          <%= content_tag :table, class: 'table table-striped table-hover' do %>
            <thead>
            <tr>
              <th>Kod</th>
              <th>Nazwa</th>
              <th>Liczba podkategorii</th>
            </tr>
            </thead>
            <tbody>
            <%= render partial: 'disease', collection: @diseases %>
            </tbody>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

