<%= form_for([:employee, @medicine], html: {class: 'form-horizontal', novalidate: true}, data: {parsley_validate: ''}) do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Nazwa:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :common_name, 'Nazwa powszechnie stosowana:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :common_name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :strength, 'Moc:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :strength, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :active_substance, 'Substancja aktywna:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :active_substance, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :form, 'Postać farmaceutyczna:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :form, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :marketing_holder, 'Podmiot Odpowiedzialny:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :marketing_holder, class: 'form-control m-b' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :package, 'Opakowanie', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :package, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit 'Zapisz', class: 'btn btn-primary' %>

<% end %>
