<tr>
  <td><%= link_to medicine.name, [:employee, medicine] %></td>
  <td><%= medicine.common_name %></td>
  <td><%= medicine.active_substance %></td>
  <td><%= medicine.marketing_holder %></td>
  <td>
    <div class="row">
      <%= link_to 'Edycja', edit_employee_medicine_path(medicine), class: 'btn btn-info btn-xs' %>
      <%= link_to 'Usuń', [:employee, medicine], method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: "Jesteś pewien?"} %>
    </div>
  </td>
</tr>