<%= javascript_pack_tag 'employee/mediciness' %>
<div class="content-heading">
  <div class="clearfix">
    <div class="pull-left">
      Słownik lekarstw <br/>
      <small>Pobierz słownik lekarstw</small>

    </div>
    <div class="pull-right">
      <div class="btn-group">
        <%= angle_back_link employee_medicines_path %>
      </div>
    </div>
  </div>
</div>
<div class="panel b">
  <div class="panel-heading ">
    <h4>Wybierz plik z danymi csv</h4>
  </div>
  <div class="panel-body">
    <%= form_tag parse_csv_employee_medicines_path, role: 'form', multipart: true, novalidate: true, data: {parsley_validate: ''} do %>
      <fieldset>
        <legend>Załaduj plik</legend>
        <div class="form-group">
          <div class="col-sm-5">
            <div class="row">
              <label class="col-sm-3 control-label">Wskaż lokalizację pliku</label>
              <div class="col-sm-9 ">
                <%= file_field_tag :file, required: true, class: 'form-control filestyle', data: {classbutton: "btn btn-default", classinput: "form-control inline"}, style: "position: absolute; clip: rect(0px, 0px, 0px, 0px);" %>

              </div>
            </div>
          </div>

          <div class="col-sm-7 pull-left">
            <button type="submit" class="btn btn-sm btn-success">Załaduj z pliku csv</button>
          </div>

        </div>
      </fieldset>
    <% end %>


    <%= form_tag parse_csv_employee_medicines_path, role: 'form', multipart: true do %>
      <fieldset>
        <legend>Pobierz z rejestru leków</legend>
        <div class="form-group">
          <label class="col-sm-2 control-label">Pobierz aktualna wersje</label>
          <div class="col-sm-10 ">
            <%= hidden_field_tag :medicines_update_url, 'http://pub.rejestrymedyczne.csioz.gov.pl/pobieranie_WS/Pobieranie.ashx?filetype=CSV&regtype=RPL_FILES' %>
          </div>
          <button type="submit" class="btn btn-sm btn-success">Pobierz z internetu</button>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
<style>
  legend {
    border: none;
  }
</style>
