<div class="content-heading">
  Słownik lekarstw
  <div class="pull-right">
    <div class="btn-group">
      <% if can? :new, Medicine %>
        <%= link_to 'Nowe lekarstwo', new_employee_medicine_path, class: 'btn btn-success' %>
      <% end %>
    </div>
    <div class="btn-group">
      <% if can? :fetch_from_csv, Medicine %>
        <%= link_to 'Pobierz słownik z pliku', fetch_from_csv_employee_medicines_path, class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Lista lekarstw
        </div>
        <div class="panel-body">
          <%= content_tag :table, id: 'medicinesTable', class: 'table table-striped table-hover', data: {url: employee_medicines_path(format: :json)} do %>
            <thead>
            <tr>
              <th>Nazwa</th>
              <th>Nazwa powszechnie stosowana</th>
              <th>Substancja aktywna</th>
              <th>Podmiot Odpowiedzialny</th>
              <% if can? :edit, Medicine %>
                <th>Akcje</th>
              <% end %>
            </tr>
            </thead>
            <tbody>

            </tbody>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
