<div class="content-heading">
  <div class="clearfix">
    <div class="pull-left">
      Słownik lekarstw <br/>
      <small>Dodaj nowy lek do słownika</small>
    </div>
    <div class="pull-right">
      <div class="btn-group">
        <%= angle_back_link employee_medicines_path %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Formularz dodawania</h4>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
