<tr>
  <td><%= link_to medicine.name, [:employee, medicine] %></td>
  <td><%= medicine.common_name %></td>
  <td><%= medicine.active_substance %></td>
  <td><%= medicine.marketing_holder %></td>
  <td>
    <div class="row">

    </div>
  </td>
</tr>