<div class="breadcrumb bb bt br bl">
  <h3> Słownik lekarstw</h3>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Lista lekarstw
        </div>
        <div class="panel-body">
          <%= content_tag :table, id: 'patientMedicinesTable', class: 'table table-striped table-hover', data: {url: patient_medicines_path(format: :json)} do %>
            <thead>
            <tr>
              <th>Nazwa</th>
              <th>Nazwa powszechnie stosowana</th>
              <th>Substancja aktywna</th>
              <th>Podmiot Odpowiedzialny</th>
            </tr>
            </thead>
            <tbody>

            </tbody>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
