<div class="breadcrumb bb bt br bl">
  <h3>
    Słownik lekarstw <br/>
    <small>Szczegółowe informacje o leku</small>
  </h3>
</div>

<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h3><%= @medicine.name %></h3>
  </div>
  <div class="panel-body">
    <fieldset>
      <legend>Informacje Ogólne</legend>
      <table class="table">
        <tbody>
        <tr>
          <th class="col-sm-3">Nazwa:</th>
          <th><%= @medicine.name %></th>
        </tr>
        <tr>
          <th>Nazwa powszechnie stosowana:</th>
          <th><%= @medicine.common_name %></th>
        </tr>
        <tr>
          <th>Moc:</th>
          <th><%= @medicine.strength %></th>
        </tr>
        <tr>
          <th>Substancja czynna:</th>
          <th><%= @medicine.active_substance %></th>
        </tr>
        <tr>
          <th>Postać farmaceutyczna:</th>
          <th><%= @medicine.form %></th>
        </tr>
        <tr>
          <th>Podmiot Odpowiedzialny:</th>
          <th><%= @medicine.marketing_holder %></th>
        </tr>

        <tr>
          <th>Opakowania:</th>
          <th><%= list_packages @medicine.package %></th>
        </tr>
        </tbody>
      </table>
    </fieldset>
    <% if @medicine.leaflet_link.present? %>
      <fieldset>
        <legend>Ulotka</legend>
        <div class="row">
          <div class="col-xs-12">
            <%= link_to 'Pobierz ulotkę', @medicine.leaflet_link %>
          </div>
        </div>
      </fieldset>
    <% end %>

    <% if @medicine.characteristic_link.present? %>
      <fieldset>
        <legend>Charakterystyka</legend>
        <div class="row">
          <div class="col-xs-12">
            <%= link_to 'Pobierz charakterystykę', @medicine.characteristic_link %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
<style>
  legend {
    border: none;
  }
</style>