<%= form_for([:employee, @unit, @employment]) do |f| %>
    <fieldset>
      <legend>Istniejący pracownik</legend>
      <div class="form-group row">
        <%= f.label :employee, 'Pracownik:', class: 'col-2 col-form-label' %>
        <div class="col-10">
          <%= f.collection_select :employee_id, Employee.not_employmented, :id, :name_with_initial, class: 'form-control', required: true, prompt: true %>
        </div>
      </div>
    </fieldset>

    <%= f.submit class: 'btn btn-primary' %>

<% end %>
