<% if smart_listing.empty? %>
    <h4 align="center" class="text-warning"> Brak danych</h4>
<% else %>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
      <tr>
        <td>Imie</td>
        <td>Nazwisko</td>
        <td>Pesel</td>

        <td>Opcje</td>
      </tr>
      </thead>
      <tbody>
      <% smart_listing.collection.each do |employment| %>
          <tr>
            <td><%= employment.employee.name %></td>
            <td><%= employment.employee.surname %></td>
            <td><%= employment.employee.pesel %></td>
            <td class="text-center">
              <%= link_to 'Szczegóły pracownika', [:employee, employment.employee], class: 'btn btn-success btn-sm' %>
              <%= link_to 'Edytuj pracownika', edit_employee_employee_path(employment.employee), class: 'btn btn-info btn-sm' %>
              <%= link_to 'Zwlonij', [:employee, employment], method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: 'Are you sure?'} %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= smart_listing.paginate %>
    <%= smart_listing.pagination_per_page_links %>
<% end %>
