<%= build_breadcrumb('Zatrudnienia') %>
<h1>Lista Zatrudnionych Pracowników </h1>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> Lista
    <%= link_to '+ Zatrudnij pracownika', new_employee_employment_path, class: 'btn btn-primary pull-right' %>
  </div>
  <div class="card-body">
    <%= smart_listing_controls_for(:employments, class: 'form-inline pull-right') do %>

        <div class="form-group filter input-append">
          <%= text_field_tag :filter, '', class: 'search form-control', placeholder: "Search...", autocomplete: :off %>
        </div>
        <button class="btn btn-primary disabled" type="submit"><span class="glyphicon glyphicon-search">Szukaj</span>
        </button>
    <% end %>
    <div class="table-responsive">
      <%= smart_listing_render(:employments) %>
    </div>
  </div>
</div>


