<%= build_breadcrumb({name: 'Zatrudnienia', link: employee_employments_path()}, 'Nowe Zatrudnienie') %>
<%= link_to ' < Powrót', employee_employments_path, class: 'btn btn-default pull-right' %>
<h1>Nowe Zatrudnienie</h1>

<%= render 'form' %>
