<div class="block-center mt-xl wd-xl">
  <!-- START panel-->
  <div class="panel panel-dark panel-flat">
    <div class="panel-heading text-center">
      <a href="#">
        <img src="<%= image_path('angle/logo.png') %>" alt="Image" class="block-center img-rounded"/>
      </a>
    </div>
    <div class="panel-body">
      <p class="text-center pv">Zaloguj się aby kontynuować</p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: 'form', novalidate: true, class: 'mb-lg'}, data: {parsley_validate: ''}) do |f| %>
        <div class="form-group has-feedback">
          <%= f.email_field :email, id: 'exampleInputEmail1', placeholder: 'Email', autocomplete: :off, required: true, class: 'form-control' %>
          <span class="fa fa-envelope form-control-feedback text-muted"></span>
        </div>
        <div class="form-group has-feedback">
          <%= f.password_field :password, id: 'exampleInputPassword1', placeholder: 'Hasło', required: true, class: 'form-control' %>
          <span class="fa fa-lock form-control-feedback text-muted"></span>
        </div>
        <div class="clearfix">
          <div class="checkbox c-checkbox pull-left mt0">
            <label>
              <input type="checkbox" value="" name="remember"/>
              <span class="fa fa-check"></span>Zapamiętaj mnie</label>
          </div>
        </div>
        <button type="submit" class="btn btn-block btn-primary mt-lg">Zaloguj</button>
      <% end %>
    </div>
  </div>
  <!-- END panel-->
</div>