<tr>
  <td><%= doctor.first_name %></td>
  <td><%= doctor.last_name %></td>
  <% if @current_user.receptionist? %>
    <td>
      <p class="h5 "><%= get_work_days doctor %></p>
    </td>
  <% end %>
  <td>
    <div class="row">
      <%= link_to 'Harmonogram', work_schedule_employee_employee_path(doctor), class: 'btn btn-danger btn-xs' %>
    </div>
  </td>

</tr>