<tr>
    <td><%= doctor.first_name %></td>
    <td><%= doctor.last_name %></td>
    <td>
        <div class="row">
            <%= link_to 'Lista wizyt', employee_employee_appointments_path(doctor), class: 'btn btn-primary' %>
        </div>
    </td>
</tr>