<tr>
  <td><%= employee.first_name %></td>
  <td><%= employee.last_name %></td>
  <td><%= employee.pesel %></td>
  <td><%= role_pl employee.role %></td>
  <td>
    <div class="row">
      <%= link_to 'Szczegóły', [:employee, employee], class: 'btn btn-success btn-xs' %>
      <%= link_to 'Edycja', edit_employee_employee_path(employee), class: 'btn btn-info btn-xs'%>
      <%= link_to 'Usuń', [:employee, employee], method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: "Jesteś pewien?"} %>
      <%= link_to 'Harmonogram', work_schedule_employee_employee_path(employee), class: 'btn btn-danger btn-xs' %>
    </div>
  </td>
</tr>