<%= form_for([:employee, @employee], html: {class: 'form-horizontal', novalidate: true}, data: {parsley_validate: ''}) do |f| %>
  <div class="form-group">
    <%= f.label :first_name, 'Imię:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :first_name, class: 'form-control', required: 'required' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, 'Nazwisko:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :last_name, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pesel, 'Pesel:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :pesel, class: 'form-control', required: true, data: {parsley_type: "digits"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, 'Email:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.email_field :email, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, 'Numer Telefonu:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :phone_number, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :role, 'Rola:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :role, roles_select, {include_blank: 'Wybierz role'}, {class: 'form-control m-b select2', required: true} %>
    </div>
  </div>

  <div class="form-group" id="employeeRole">
    <%= f.label :appointment_time, 'Czas trwania pojedynczej wizyty(min):', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :appointment_time, class: 'form-control', required: true, value: @employee.appointment_time || 30, step: 15, min: 15 %>
    </div>
  </div>

  <%= f.submit 'Zapisz', class: 'btn btn-primary' %>

<% end %>

<script>

</script>