<div class="content-heading">
  Przegląd wizyt lekarzy
  <small>Wybierz lekarza aby zobaczyć jego wizyty</small>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Lista lekarzy
        </div>
        <div class="panel-body">
          <table id="doctorsWithAppointmentsTable" class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Imie</th>
              <th>Nazwisko</th>
              <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <%= render partial: 'employee/employees/doctor_appointment', collection: @doctors, as: :doctor %>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>

