<div class="content-heading">
  Przeglądaj grafiki lekarzy
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Lista lekarzy
        </div>
        <div class="panel-body">
          <table id="doctorsTable" class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Imie</th>
              <th>Nazwisko</th>
              <% if @current_user.receptionist? %>
                <th>Dni tygodnia</th>
              <% end %>
              <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <%= render partial: 'employee/employees/doctor', collection: @doctors %>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>

