
<div class="content-heading">
  Lista Pracowników
  <small>Znajdź żądanego pracownika</small>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Lista pracowników
          <%= link_to 'Nowy Pracownik', new_employee_employee_path, class: 'btn btn-primary pull-right ' %>
        </div>
        <div class="panel-body">
          <table id="employeesTable" class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Imie</th>
              <th>Nazwisko</th>
              <th>Pesel</th>
              <th>Rola</th>
              <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <%= render partial: 'employee/employees/employee', collection: @employees %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

