<div class="content-heading">
  Szczegóły pracownika
  <div class="pull-right">
    <%= angle_back_link :back %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- Aside panel-->
    <div class="panel b">
      <div class="panel-heading">
        <div class="clearfix">
          <div class="pull-left">
            <h4><%= @employee.full_name %></h4>
          </div>
          <div class="pull-right">
            <%= link_to 'Edytuj', edit_employee_employee_path(@employee), class: 'btn btn-danger btn-oval' %>
          </div>
        </div>
      </div>
      <table class="table table-hover table-striped">
        <tbody>
        <tr>
          <td>
            <strong>Imię</strong>
          </td>
          <td><%= @employee.first_name %></td>
        </tr>
        <tr>
          <td>
            <strong>Nazwisko</strong>
          </td>
          <td><%= @employee.last_name %></td>
        </tr>
        <tr>
          <td>
            <strong>Pesel</strong>
          </td>
          <td><%= @employee.pesel %></td>
        </tr>
        <tr>
          <td>
            <strong>Email</strong>
          </td>
          <td><%= @employee.email %></td>
        </tr>
        <tr>
          <td>
            <strong>Numer telefonu</strong>
          </td>
          <td><%= @employee.phone_number %></td>
        </tr>
        <tr>
          <td>
            <strong>Rola</strong>
          </td>
          <td><%= @employee.role %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- end Aside panel-->
  </div>
</div>
