<div class="content-heading">
  <div class="clearfix">
    <%= "Harmonogram #{@employee.full_name}" %>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <% if @current_user.admin? %>
      <div id="employee-schedule-calendar" <%= "data-employee-id=#{params[:id]}" %> <%= "data-employee-appointment-time=#{@employee.appointment_time || 30}" %>></div>
    <% else %>
      <div id="receptionist-schedule-calendar" <%= "data-employee-id=#{params[:id]}" %>></div>
    <% end %>
  </div>
</div>
