<!-- START sidebar nav-->
<ul class="nav">
  <li class="nav-heading">
    <span>Menu administratora</span>
  </li>
  <li class="<%= 'active' if controller?('employee/appointments') %>">
    <a href="#appointments" title="Wizyty" data-toggle="collapse">
      <em class="icon-pencil"></em>
      <span>Wizyty</span>
    </a>
    <ul id="appointments" class="nav sidebar-subnav collapse">
      <li class="sidebar-subnav-header">Wizyty</li>
      <li class="<%= 'active' if controller?('employee/appointments') && action?('appointments') %>">
        <%= link_to 'Zarządzaj wizytami', employee_appointments_path %>
      </li>
      <li class="<%= 'active' if (controller?('employee/employees') && action?('appointments')) or (controller?('employee/appointments') && action?('index')) %>">
        <%= link_to 'Wizyty lekarzy', appointments_employee_employees_path %>
      </li>
      <li class="<%= 'active' if (controller?('employee/appointments') && action?('incoming')) %>">
        <%= link_to 'Nadchodzące wizyty', incoming_employee_appointments_path %>
      </li>
    </ul>
  </li>

  <li class="<%= 'active' if controller?('maps') %>">
    <a href="#struct" title="Struktura" data-toggle="collapse">
      <em class="icon-people"></em>
      <span>Ludzie</span>
    </a>
    <ul id="struct" class="nav sidebar-subnav collapse">
      <li class="sidebar-subnav-header">Ludzie</li>
      <li class="<%= 'active' if controller?('employee/employees') and !action?('appointments') %>">
        <%= link_to 'Pracownicy', employee_employees_path %>
      </li>
      <li class="<%= 'active' if controller?('employee/patients') %>">
        <%= link_to 'Pacjenci', employee_patients_path %>
      </li>
    </ul>
  </li>
  <li class="<%= 'active' if controller?('employee/medicines') or controller?('employee/diseases') %>">
    <a href="#dictionares" title="Struktura" data-toggle="collapse">
      <em class="icon-notebook"></em>
      <span>Słowniki</span>
    </a>
    <ul id="dictionares" class="nav sidebar-subnav collapse">
      <li class="sidebar-subnav-header">Słowniki</li>
      <li class="<%= 'active' if controller?('employee/medicines') %>">
        <%= link_to 'Produkty medyczne', employee_medicines_path %>
      </li>
      <li class="<%= 'active' if controller?('employee/diseases') %>">
        <%= link_to 'Choroby ICD-10', employee_diseases_path %>
      </li>
    </ul>
  </li>
  <li class="<%= 'active' if controller?('employee/reports') %>">
    <a href="#reports" title="Struktura" data-toggle="collapse">
      <em class="icon-pie-chart"></em>
      <span>Raporty</span>
    </a>
    <ul id="reports" class="nav sidebar-subnav collapse">
      <li class="sidebar-subnav-header">Raporty</li>
      <li class="<%= 'active' if controller?('employee/reports') and action?('doctors') %>">
        <%= link_to 'Raport lekarzy', employee_reports_doctors_path %>
      </li>
      <li class="<%= 'active' if controller?('employee/reports') and action?('patients') %>">
        <%= link_to 'Raport pacjentów', employee_reports_patients_path %>
      </li>
    </ul>
  </li>
</ul>
<!-- END sidebar nav-->
