<ul class="nav">
  <li class="nav-heading">
    <span>Menu lekarza</span>
  </li>
  <li class="<%= 'active' if controller?('employee/appointments') && (action?('index') or action?('summary')) %>">
    <%= navigation_link employee_employee_appointments_path(current_employee), 'Wizyty', 'icon-notebook' %>
  </li>

  <li class="<%= 'active' if controller?('employee/medicines') %>">
    <%= navigation_link employee_medicines_path, 'Leki', 'icon-heart' %>
  </li>

  <li class="<%= 'active' if controller?('employee/diseases_categories') or controller?('employee/diseases_subcategories') or controller?('employee/main_diseases') or controller?('employee/diseases') %>">
    <%= navigation_link employee_diseases_path, 'Choroby ICD-10', 'icon-book-open' %>
  </li>

  <li class="<%= 'active' if controller?('employee/patients') %>">
    <%= navigation_link employee_patients_path, 'Pacjenci', 'icon-people' %>
  </li>

  <li class="<%= 'active' if controller?('employee/reports') %>">
    <a href="#reports" title="Struktura" data-toggle="collapse">
      <em class="icon-pie-chart"></em>
      <span>Raporty</span>
    </a>
    <ul id="reports" class="nav sidebar-subnav collapse">
      <li class="sidebar-subnav-header">Raporty</li>
      <li class="<%= 'active' if controller?('employee/reports') and action?('doctors') %>">
        <%= link_to 'Raport lekarzy', employee_reports_doctors_path %>
      </li>
      <li class="<%= 'active' if controller?('employee/reports') and action?('patients') %>">
        <%= link_to 'Raport pacjentów', employee_reports_patients_path %>
      </li>
    </ul>
  </li>


</ul>
