<ul class="nav">
  <li class="nav-heading">
    <span>Menu recepcji</span>
  </li>
  <li class="<%= 'active' if controller?('employee/appointments') and action?('appointments') %>">
    <%= navigation_link employee_appointments_path, 'Zarządzaj wizytami', 'icon-notebook' %>
  </li>
  <li class="<%= 'active' if (controller?('employee/appointments') && action?('incoming')) %>">
    <%= navigation_link incoming_employee_appointments_path, 'Nadchodzące wizyty', 'icon-clock' %>
  </li>
  <li class="<%= 'active' if controller?('employee/patients') %>">
    <%= navigation_link employee_patients_path, 'Pacjenci', 'icon-people' %>
  </li>
  <li class="<%= 'active' if controller?('employee/employees') and action?('doctors') %>">
    <%= navigation_link doctors_employee_employees_path, 'Grafiki lekarzy', 'icon-calendar' %>
  </li>
  <li class="<%= 'active' if controller?('employee/reports') and action?('patients') %>">
    <%= navigation_link employee_reports_patients_path, 'Raport pacjentów', 'icon-pie-chart' %>
  </li>


</ul>
