<tr class="bb">
  <td class="b0 wd-xs text-center">
    <% if params[:type] == 'ended' %>
      <p><strong><%= appointment.actual_end.localtime.strftime("%d-%m-%Y %H:%M") %></strong></p>
    <% else %>
      <p><strong><%= appointment.planned_start.localtime.strftime("%d-%m-%Y %H:%M") %></strong></p>
    <% end %>
  </td>
  <td class="b0 wd-xs hidden-xs">
    <a href="#">
      <img src="<%= image_path('angle/appointment.png') %>" class="img-responsive thumb64"/>
    </a>
  </td>
  <td class="b0">
    <p class="h4 mt0">
      <% if appointment.status == 'incoming' %>
        <%= link_to time_diference_incoming(Time.now, appointment.planned_start.localtime), appointment_name_link(appointment), class: 'align-middle text-bold link-unstyled' %>
      <% else %>
        <%= link_to "Wizyta zakończona", appointment_name_link(appointment), class: 'align-middle text-bold link-unstyled' %>

      <% end %>
    </p>
    <small class="text-muted"><strong>Opis:</strong> <%= appointment.description %>
      <br/>
      <strong> Pacjent</strong>
      - <%= link_to appointment.patient.full_name, employee_patient_path(appointment.patient), class: "text-bold", target: "_blank" %>
    </small>
  </td>
  <td class="b0">
    <div class="row pull-right">
      <% if can? :delete, appointment %>
        <%= link_to 'Usuń wizytę', [:employee, appointment], method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: "Jesteś pewien?"} %>
      <% end %>
      <% if can? :cancel, appointment %>
        <%= link_to 'Odwołaj wizytę', cancel_employee_appointment_path(appointment), method: :put, class: 'btn btn-danger btn-xs', data: {confirm: "Jesteś pewien?"} %>
      <% end %>
    </div>
  </td>
</tr>
