<div class="nested-fields">
  <div class="form-group">
    <div class="col-sm-2">
      <%= link_to_remove_association "Usuń chorobę", f, class: 'btn btn-xs btn-danger' %>
    </div>
    <div class="col-sm-10">

      <%= f.collection_select :disease_code, Disease.where(code: f.object.disease_code), :code, :name, {}, {required: true, class: 'form-control appointment-disease-select2'} %>
    </div>
  </div>
</div>