<%= form_for [:employee, @appointment], html: {class: 'form-appointment-edit form-horizontal', novalidate: true}, data: {parsley_validate: ''} do |f| %>
  <legend>Rozpoznanie</legend>
  <div class="appointment-diseases">
    <%= f.fields_for :appointment_diseases do |ad| %>
      <%= render 'appointment_disease_fields', f: ad %>
    <% end %>
  </div>
  <div class="form-actions">
    <%= link_to_add_association 'Dodaj rozpoznaną chorobę', f, :appointment_diseases, class: 'mb-sm btn btn-info btn-outline btn-block',
                                data: {association_insertion_node: '.appointment-diseases',
                                       association_insertion_method: :append} %>
  </div>
  <br/>
  <fieldset>
    <legend>Wypisz recepty</legend>
    <div id="appointment_prescriptions" class="panel-group appointment-prescriptions">
      <%= f.fields_for :prescriptions do |p| %>
        <%= render 'prescription_fields', f: p %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= link_to_add_association 'Dodaj receptę', f, :prescriptions, class: 'mb-sm btn btn-info btn-outline btn-block',
                                  data: {association_insertion_node: '.appointment-prescriptions',
                                         association_insertion_method: :append} %>
    </div>
  </fieldset>
  <fieldset>
    <legend>Podsumowanie</legend>
    <div class="form-group">
      <%= f.label :doctor_comment, 'Komentarz do wizyty', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :doctor_comment, class: 'form-control', row: 3 %>
      </div>
    </div>
  </fieldset>

  <div class="form-actions">
    <%= f.submit :Dalej, class: 'btn btn-lg btn-success btn-block' %>
  </div>
<% end %>

<style>
  legend {
    border: none
  }
</style>