<tr class="bb">
  <td class="b0 wd-xs text-center">

    <p><strong><%= incoming_appointment.planned_start.localtime.strftime("%d-%m-%Y %H:%M") %></strong></p>

  </td>
  <td class="b0 wd-xs hidden-xs">
    <a href="#">
      <img src="<%= image_path('angle/appointment.png') %>" class="img-responsive thumb64"/>
    </a>
  </td>
  <td class="b0">
    <p class="h4 mt0 align-middle text-bold link-unstyled">
      <%=  time_diference_incoming(Time.now, incoming_appointment.planned_start.localtime)%>

    </p>
    <small class="text-muted"><strong>Opis:</strong> <%= incoming_appointment.description %>
      <br/>
      <strong>Pacjent</strong>
      - <%= link_to incoming_appointment.patient.full_name, employee_patient_path(incoming_appointment.patient), class: "text-bold" %>
      <br/>
      <strong>Lekarz</strong>
      - <%= incoming_appointment.doctor.full_name %>
    </small>
  </td>
  <td class="b0">
    <% if can? :cancel, incoming_appointment %>
      <div class="row pull-right">
        <%= link_to 'Odwołaj wizytę', cancel_employee_appointment_path(incoming_appointment), method: :put, class: 'btn btn-danger btn-xs', data: {confirm: "Jesteś pewien?"} %>
      </div>
    <% end %>
  </td>
</tr>
