<div class="panel panel-default nested-fields">
  <div class="panel-heading bb">
    <div class="clearfix">
      <h4 class="panel-title pull-left">
        <a data-toggle="collapse" data-parent="#appointment_prescriptions" href=<%= "#appointment-prescription#{f.object.id}" %>>
          <small>
            <em class="fa fa-plus text-primary mr"></em>
          </small>
          <span>Recepta</span>
        </a>
      </h4>
      <%= link_to_remove_association "Usuń receptę", f, class: 'btn btn-danger pull-right' %>
    </div>
  </div>
  <div id="<%= "appointment-prescription#{f.object.id}" %>" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :description, 'Komentarz', class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_area :description, class: 'form-control', row: 3 %>
        </div>
        <%= f.hidden_field :patient_id, value: @appointment.patient.id %>
        <%= f.hidden_field :employee_id, value: @appointment.doctor.id %>
      </div>


      <div class="table-responsive">
        <h4>Leki</h4>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <td><strong>Nazwa</strong></td>
            <td><strong>Ilosc</strong></td>
            <td><strong>Komentarz</strong></td>
            <td><strong>Akcje</strong></td>
          </tr>
          </thead>
          <tbody class="appointment-prescription-medicines">
          <%= f.fields_for :prescription_medicines do |p| %>
            <%= render 'prescription_medicine_fields', f: p %>
          <% end %>
          </tbody>
        </table>
        <div class="form-actions">
          <%= link_to_add_association 'Dodaj nowy lek', f, :prescription_medicines, class: 'append-medicine-button mb-sm btn btn-purple btn-outline btn-block',
                                      data: {association_insertion_node: '.appointment-prescription-medicines',
                                             association_insertion_method: :append} %>
        </div>
      </div>
    </div>
  </div>
</div>