<tr class="nested-fields">
  <td style="width:40%">
    <%= f.collection_select :medicine_id, Medicine.where(id: f.object.medicine_id), :id, :name_with_details, {}, {required: true, class: 'form-control appointment-medicines-select2'} %>
  </td>
  <td style="width:10%">
    <%= f.number_field :quantity, class: 'form-control', required: true, min: 1 %>
  </td>
  <td style="width:40%">
    <%= f.text_area :comment, class: 'form-control', rows: 3 %>
  </td>
  <td style="width:10%"><%= link_to_remove_association "Usuń lek", f, class: 'btn btn-xs btn-danger' %></td>
</tr>