<div class="content-heading">
  <div class="clearfix">
    <div class="pull-left">
      Przeprowadz wizytę
      <br/>
      <small>
        <small>Uzupełnij dane</small>
      </small>
    </div>
    <div class="pull-right">
      <div class="btn-group">
        <%= angle_back_link employee_employee_appointments_path(@appointment.doctor) %>
      </div>
    </div>
  </div>
</div>

<!-- START panel-->
<div class="panel panel-default">
  <div class="panel-heading"><h4>Przeprowadz wizytę
    [Pacjent <%= link_to @appointment.patient.full_name, employee_reports_patients_path(patient: @appointment.patient.id), target: '_blank' %>
    ]</h4>
  </div>


  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

