<div class="breadcrumb bb bt br bl">
  <h3>Nadchodzące wizyty
  </h3>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel b">
        <div class="panel-heading">
          <div class="panel-title text-center">Wybierz dzień wizyty</div>
        </div>
        <div class="panel-body text-center">
          <%= form_tag incoming_employee_appointments_path, method: :get, class: 'form-horizontal' do %>
            <div class="form-group">
              <%= label_tag :doctor, 'Lekarz:', class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">

                <%= collection_select :@incoming_filter, :doctor, Employee.doctor, :id, :full_name, {selected: @incoming_filter.try(:doctor), include_blank: true}, {class: 'form-control'} %>

              </div>

            </div>
            <div class="form-group">
              <%= label_tag :patient, 'Pacjent:', class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">

                <%= collection_select :@incoming_filter, :patient, Patient.all, :id, :full_name, {selected: @incoming_filter.try(:patient), include_blank: true}, {class: 'form-control'} %>

              </div>

            </div>
            <%= submit_tag 'Filtruj wizyty' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <% if @appointments.present? %>
                <table id="doctorAppointmentsTable" class="table">
                  <thead>
                  <tr>
                    <th>Data</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <%= render collection: @appointments, partial: 'incoming_appointment' %>
                  </tbody>
                </table>
              <% else %>
                <h4 class="text-center">Brak wizyt </h4>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>