<h3>Wizyty dla <%= @employee.full_name %>
</h3>
<ul class="nav nav-pills mv-lg">
  <li class=<%= (params[:type] == 'incoming' or params[:type].blank?) ? 'active' : '' %>><%= link_to 'Dzisiejsze wizyty', employee_employee_appointments_path(params[:employee_id], type: 'incoming'), class: "pv-sm" %>
  </li>
  <li class=<%= params[:type] == 'ended' ? 'active' : '' %>><%= link_to 'Zakończone', employee_employee_appointments_path(params[:employee_id], type: 'ended'), class: "pv-sm" %>
  </li>
</ul>

<!-- Vote panel-->
<% if @appointments.empty? %>
  <div class="container-fluid text-center"><h3>Brak wizyt</h3></div>
<% else %>
  <div class="panel panel-default">
    <div class="panel-body">
      <table id="doctorAppointmentsTable" class="table">
        <thead>
        <tr>
          <th>Data</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <%= render collection: @appointments, partial: 'appointment' %>
        </tbody>
      </table>
    </div>

  </div>
<% end %>

