<h3>Wizyta
    <small>Przeprowadz wizytę</small>
</h3>
<div class="container-md">
    <div class="row">
        <div class="col-md-3">
            <div class="panel b">
                <div class="panel-heading bg-gray-lighter text-bold">Personal Settings</div>
                <div class="list-group">
                    <a href="#tabSetting1" data-toggle="tab" class="list-group-item">Profile</a>
                    <a href="#tabSetting2" data-toggle="tab" class="list-group-item">Account</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content p0 b0">
                <div id="tabSetting1" class="tab-pane active">
                    <div class="panel b">
                        <div class="panel-heading bg-gray-lighter text-bold">Profile</div>
                        <div class="panel-body">
                            <form action="">
                                <div class="form-group">
                                    <label>Picture</label>
                                    <input type="file" data-input="false" data-classbutton="btn btn-default"
                                           data-classinput="form-control inline" data-buttontext="Upload new picture"
                                           data-iconname="fa fa-upload mr" class="form-control filestyle"
                                    />
                                </div>
                                <div class="form-group">
                                    <label>Name</label>
                                    <%= collection_select :
                                </div>
                                <div class="form-group">
                                    <label>Bio</label>
                                    <textarea rows="3" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>URL</label>
                                    <input type="text" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>Company</label>
                                    <input type="text" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>Location</label>
                                    <input type="text" class="form-control"/>
                                </div>
                                <button type="button" class="btn btn-info">Update settings</button>
                                <p>
                                    <small class="text-muted">* Integer fermentum accumsan metus, id sagittis ipsum
                                        molestie vitae
                                    </small>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="tabSetting2" class="tab-pane">
                    <div class="panel b">
                        <div class="panel-heading bg-gray-lighter text-bold">Account</div>
                        <div class="panel-body">
                            <form action="">
                                <div class="form-group">
                                    <label>Current password</label>
                                    <input type="password" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>New password</label>
                                    <input type="password" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>Confirm new password</label>
                                    <input type="password" class="form-control"/>
                                </div>
                                <button type="button" class="btn btn-info">Update password</button>
                                <p>
                                    <small class="text-muted">* Integer fermentum accumsan metus, id sagittis ipsum
                                        molestie vitae
                                    </small>
                                </p>
                            </form>
                        </div>
                    </div>
                    <div class="panel b">
                        <div class="panel-heading bg-danger text-bold">Delete account</div>
                        <div class="panel-body bt">
                            <p>You will be asked for confirmation before delete account.</p>
                            <button type="button" class="btn btn-default">
                                <span class="text-danger">Delete account</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
