<div class="content-heading">
  <div class="clearfix">
    <div class="pull-left">
      Podsumowanie wizyty
      <br/>
      <% if @appointment.status == 'incoming' %>
        <small>
          <small>Sprawdz czy wszystkie dane się zgadzają</small>
        </small>
      <% end %>
    </div>
    <div class="pull-right">
      <% if @appointment.status == 'incoming' %>
        <%= angle_back_link edit_employee_employee_appointment_path(@appointment.doctor, @appointment, from_summary: true), "Popraw informacje w wizycie" %>
      <% end %>
      <%= link_to 'Generuj PDF', summary_employee_appointment_path(@appointment, format: 'pdf'), class: "btn btn-success", target: '_blank' %>
    </div>
  </div>
</div>

<!-- START panel-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="panel b">
        <div class="panel-heading bg-gray-lighter text-bold">Wybierz zakładkę</div>
        <div class="list-group">
          <a href="#tabSetting1" data-toggle="tab" class="list-group-item">Informacje ogólne</a>
          <a href="#tabSetting2" data-toggle="tab" class="list-group-item">Rozpoznane choroby</a>
          <a href="#tabSetting3" data-toggle="tab" class="list-group-item">Wypisane recepty</a>

        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="tab-content p0 b0">
        <div id="tabSetting1" class="tab-pane active">
          <div class="panel b">
            <div class="panel-heading bg-gray-lighter text-bold">Informacje ogólne</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <div class="panel b">
                    <div class="panel-heading">
                      <h4 class="m0">Wizyta</h4>
                      <small class="text-muted"><%= "Lekarz prowadzący: #{@appointment.doctor.full_name}" %></small>
                    </div>
                    <table class="table">
                      <tbody>
                      <tr>
                        <td>
                          <strong>Planowane rozpoczęcie wizyty:</strong>
                        </td>
                        <td><%= @appointment.planned_start.try(:localtime).try(:strftime, "%d-%m-%Y %H:%M") %></td>
                      </tr>
                      <tr>
                        <td>
                          <strong>Planowane zakończenie wizyty:</strong>
                        </td>
                        <td>
                          <%= @appointment.planned_end.try(:localtime).try(:strftime, "%d-%m-%Y %H:%M") %>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong>Rzeczywiste rozpoczęcie wizyty:</strong>
                        </td>
                        <td><%= @appointment.actual_start.try(:localtime).try(:strftime, "%d-%m-%Y %H:%M") %></td>
                      </tr>
                      <tr>
                        <td>
                          <strong>Rzeczywiste zakończenie wizyt:</strong>
                        </td>
                        <td>
                          <%= @appointment.actual_end.try(:localtime).try(:strftime, "%d-%m-%Y %H:%M") %>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong>Czas trwania wizyty:</strong>
                        </td>
                        <td>
                          <%= summary_appointment_duration @appointment %>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong>Ilość zdiagnozowanych chorób:</strong>
                        </td>
                        <td>
                          <%= @appointment.diseases.count %>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong>Ilość wypisanych recept:</strong>
                        </td>
                        <td>
                          <%= @appointment.prescriptions.count %>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong>Ilość przepisanych leków:</strong>
                        </td>
                        <td>
                          <%= get_appointment_midicines_count @appointment %>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong>Podsumowanie wizyty:</strong>
                        </td>
                        <td>
                          <%= @appointment.doctor_comment %>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="panel b">
                    <div class="panel-heading">
                      <h4 class="m0">Pacjent</h4>
                      <small class="text-muted"><%= @appointment.patient.full_name %></small>
                    </div>
                    <table class="table">
                      <tbody>
                      <tr>
                        <td>
                          <strong>Imię</strong>
                        </td>
                        <td><%= @appointment.patient.first_name %></td>
                      </tr>
                      <tr>
                        <td>
                          <strong>Nazwisko</strong>
                        </td>
                        <td><%= @appointment.patient.last_name %></td>
                      </tr>
                      <tr>
                        <td>
                          <strong>Pesel</strong>
                        </td>
                        <td>
                          <%= @appointment.patient.identifier %>
                        </td>
                      </tr>
                      <% if @appointment.patient.blood_group %>
                        <tr>
                          <td>
                            <strong>Grupa krwi:</strong>
                          </td>
                          <td>
                            <%= blood_group @appointment.patient.blood_group %>
                          </td>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div id="tabSetting2" class="tab-pane">
          <div class="panel b">
            <div class="panel-heading bg-gray-lighter text-bold">Rozpoznane choroby</div>
            <div class="panel-body">
              <% if @appointment.diseases.empty? %>
                <h4 class="text-center">Brak</h4>
              <% else %>
                <div class="panel b">
                  <table class="table table-striped table-hover">
                    <tbody>
                    <% @appointment.diseases.each_with_index do |disease, index| %>
                      <tr>
                        <td class=" col-xs-1 br"><%= "#{index + 1}." %></td>
                        <td><%= link_to disease.name, details_employee_diseases_path(disease),target: '_blank' %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>


            </div>
          </div>
        </div>
        <div id="tabSetting3" class="tab-pane">
          <div class="panel b">
            <div class="panel-heading bg-gray-lighter text-bold">Wypisane recepty</div>
            <div class="panel-body">
              <% if @appointment.prescriptions.blank? %>
                <h4 class="text-center">Brak</h4>
              <% end %>
              <% @appointment.prescriptions.each_with_index do |prescription, index| %>
                <div class="panel b">
                  <div class="panel-heading">
                    <h4 class="m0"><%= "#{index + 1}. Recepta" %></h4>
                    <br/>
                    <% if prescription.description.present? %>
                      <strong>Komentarz: </strong><%= prescription.description %>
                    <% end %>
                  </div>
                  <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                      <td><strong>Nr.</strong></td>
                      <td><strong>Nazwa</strong></td>
                      <td><strong>Moc</strong></td>
                      <td><strong>Ilość</strong></td>
                      <td><strong>Substancja aktywna</strong></td>
                      <td><strong>Komentarz</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    <% prescription.prescription_medicines.each_with_index do |medicine, index| %>
                      <tr>
                        <td><%= "#{index + 1}." %></td>
                        <td><%= link_to medicine.medicine.name, employee_medicine_path(medicine.medicine, from_summary: @appointment.id), target: '_blank' %></td>
                        <td><%= medicine.medicine.strength %></td>
                        <td><%= medicine.quantity %></td>
                        <td><%= medicine.medicine.active_substance %></td>
                        <td><%= medicine.comment %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>

                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if @appointment.status == 'incoming' %>
      <%= form_for [:employee, @appointment], method: 'put' do |f| %>
        <%= f.hidden_field :status, value: 'ended' %>
        <%= f.submit 'Zakończ wizytę', class: "btn btn-success btn-block" %>
      <% end %>
    <% end %>
  </div>
</div>


