<tr class="bb">
  <td class="b0">
    <%= link_to 'Wyswietl harmonogram', show_work_schedule_patient_employee_path(employee) %>
  </td>
  <td class="b0">
    <p><strong><%= employee.first_name %></strong></p>
  </td>
  <td class="b0 ">
    <p><strong><%= employee.last_name %></strong></p>
  </td>
  <td class="b0">
    <p class="h5 "><%= get_work_days employee %></p>
  </td>
</tr>
