<div class="breadcrumb bb bt br bl">
  <h3> Harmonogram <%= @employee.full_name %><br/>
  </h3>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default ">
        <div class="panel-body">
          <div id="patient-employee-schedule-calendar" <%= "data-employee-id=#{@employee.id}" %>>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

