<div class="breadcrumb bb bt br bl">
  <h3> Przeglądaj harmonogram pracy lekarzy<br/>
    <small>Wybierz harmonogram</small>
  </h3>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default ">
        <div class="panel-heading">
          <h4>Lista pracowników</h4>
        </div>
        <div class="panel-body">
          <table id="patientEmployeesSchedulesTable" class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Harmonogram</th>
              <th>Imie</th>
              <th>Nazwisko</th>
              <th>Dni tygodnia</th>
            </tr>
            </thead>
            <tbody>
            <%= render partial: 'employee_schedule', collection: @employees, as: 'employee' %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

