<tr class="bb">
  <td class="b0 wd-xs text-center">
    <% if params[:type] == 'ended' %>
      <p><strong><%= appointment.actual_end.localtime.strftime("%d-%m-%Y %H:%M") %></strong></p>
    <% else %>
      <p><strong><%= appointment.planned_start.localtime.strftime("%d-%m-%Y %H:%M") %></strong></p>
    <% end %>
  </td>
  <td class="b0 wd-xs hidden-xs">
    <img src="<%= image_path('angle/appointment.png') %>" class="img-responsive thumb64"/>
  </td>
  <td class="b0">
    <p class="h4 mt0">
      <% if appointment.status == 'incoming' %>
        <span class="align-middle text-bold link-unstyled">
          <%= "#{time_diference_incoming(Time.now, appointment.planned_start.localtime)}" %>
        </span>
      <% else %>
        <%= link_to "Wizyta zakończona", summary_patient_appointment_path(appointment), class: 'align-middle text-bold link-unstyled' %>

      <% end %>
    </p>
    <p class="text-muted">Lekarz - <%= appointment.doctor.full_name %>
    </p>
    <small class="text-muted"><%= appointment.description %>
    </small>
  </td>
  <% if params[:type] == 'incoming' or params[:type].nil? %>
    <td class="b0">
      <% if can? :cancel, appointment %>
        <div class="row pull-right">
          <%= link_to 'Odwołaj wizytę', cancel_patient_appointment_path(appointment), method: :put, class: 'btn btn-danger btn-xs', data: {confirm: "Jesteś pewien?"} %>
        </div>
      <% end %>
    </td>
  <% end %>
</tr>
