<div class="breadcrumb bb bt br bl">
  <h3>Wizyty dla <%= current_patient.full_name %>
  </h3>
  <ul class="nav nav-pills mv-lg">
    <li class=<%= (params[:type] == 'incoming' or params[:type].blank?) ? 'active' : '' %>><%= link_to 'Nadchodzące', patient_appointments_path(type: 'incoming'), class: "pv-sm" %>
    </li>
    <li class=<%= params[:type] == 'ended' ? 'active' : '' %>><%= link_to 'Zakończone', patient_appointments_path(type: 'ended'), class: "pv-sm" %>
    </li>
  </ul>
</div>

<!-- Vote panel-->
<% if @appointments.empty? %>
  <div class="container-fluid text-center"><h3>Brak wizyt</h3></div>
<% else %>
  <div class="panel">
    <div class="panel-body table-responsive">
      <table class="table" id="patientAllAppointmentsTable">
        <thead>
        <tr>
          <th>Data</th>
          <th></th>
          <th></th>
          <% if params[:type] == 'incoming' or params[:type].nil?  %>
            <td></td>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <%= render collection: @appointments, partial: 'appointment' %>
        </tbody>
      </table>
    </div>

  </div>
<% end %>
<%= paginate @appointments %>

