<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
</head>
<body onload='number_pages'>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Podsumowanie wizyty</h1>
    </div>
  </div>
  <br/>
  <fieldset>
    <legend><h3>Dane personalne</h3></legend>
    <br/>
    <div class="row">
      <div class="col-xs-6">
        <div class="panel b">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-12">
                <h4 class=" text-center m0">Dane lekarza</h4>
              </div>
            </div>
          </div>
          <table class="table table-hover table-striped">
            <tbody>
            <tr>
              <td>
                <strong>Imię:</strong>
              </td>
              <td><%= @appointment.doctor.first_name %></td>
            </tr>
            <tr>
              <td>
                <strong>Nazwisko:</strong>
              </td>
              <td><%= @appointment.doctor.last_name %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="panel b">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-12">
                <h4 class=" text-center m0">Dane pacjenta</h4>
              </div>
            </div>
          </div>
          <table class="table table-hover table-striped">
            <tbody>
            <tr>
              <td>
                <strong>Imię:</strong>
              </td>
              <td><%= @appointment.patient.first_name %></td>
            </tr>
            <tr>
              <td>
                <strong>Nazwisko:</strong>
              </td>
              <td><%= @appointment.patient.last_name %></td>
            </tr>
            <tr>
              <td>
                <strong>Pesel:</strong>
              </td>
              <td>
                <%= @appointment.patient.identifier %>
              </td>
            </tr>
            <% if @appointment.patient.blood_group %>
              <tr>
                <td>
                  <strong>Grupa krwi:</strong>
                </td>
                <td>
                  <%= blood_group @appointment.patient.blood_group %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </fieldset>
  <br/>

  <fieldset>
    <legend><h3>Informacje ogólne</h3></legend>
    <br/>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel b">
          <table class="table">
            <tbody>
            <tr>
              <td>
                <strong>Planowane rozpoczęcie wizyty:</strong>
              </td>
              <td><%= @appointment.planned_start.try(:localtime).try(:strftime, "%d-%m-%Y %H:%M") %></td>
            </tr>
            <tr>
              <td>
                <strong>Planowane zakończenie wizyty:</strong>
              </td>
              <td>
                <%= @appointment.planned_end.try(:localtime).try(:strftime, "%d-%m-%Y %H:%M") %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Rzeczywiste rozpoczęcie wizyty:</strong>
              </td>
              <td><%= @appointment.actual_start.try(:localtime).try(:strftime, "%d-%m-%Y %H:%M") %></td>
            </tr>
            <tr>
              <td>
                <strong>Rzeczywiste zakończenie wizyt:</strong>
              </td>
              <td>
                <%= @appointment.actual_end.try(:localtime).try(:strftime, "%d-%m-%Y %H:%M") %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Czas trwania wizyty:</strong>
              </td>
              <td>
                <%= summary_appointment_duration @appointment %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Opis wizyty:</strong>
              </td>
              <td>
                <%= @appointment.doctor_comment %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Ilość zdiagnozowanych chorób:</strong>
              </td>
              <td>
                <%= @appointment.diseases.count %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Ilość wypisanych recept:</strong>
              </td>
              <td>
                <%= @appointment.prescriptions.count %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Ilość przepisanych leków:</strong>
              </td>
              <td>
                <%= get_appointment_midicines_count @appointment %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </fieldset>
  <br/>

  <fieldset>
    <legend><h3>Zdiagnozowane choroby</h3></legend>
    <br/>
    <% if @appointment.diseases.empty? %>
      <h3 class="text-center">Brak</h3>
    <% else %>
      <div class="panel b">
        <table class="table table-striped table-hover">
          <tbody>
          <% @appointment.diseases.each_with_index do |disease, index| %>
            <tr>
              <td class=" col-xs-1 br"><%= "#{index + 1}." %></td>
              <td><%= disease.name %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </fieldset>

  <fieldset>
    <legend><h3>Wypisane recepty</h3></legend>
    <br/>
    <% if @appointment.prescriptions.empty? %>
      <h3 class="text-center">Brak</h3>
    <% else %>
      <div class="panel-body">
        <% @appointment.prescriptions.each_with_index do |prescription, index| %>
          <div class="panel b">
            <div class="panel-heading">
              <h4 class="m0"><%= "#{index + 1}. Recepta" %></h4>
            </div>
            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <td><strong>Nr.</strong></td>
                <td><strong>Nazwa</strong></td>
                <td><strong>Powszechna nazwa</strong></td>
                <td><strong>Moc</strong></td>
                <td><strong>Postać</strong></td>
                <td><strong>Substancja aktywna</strong></td>
              </tr>
              </thead>
              <tbody>
              <% prescription.medicines.each_with_index do |medicine, index| %>
                <tr>
                  <td class=" col-xs-1"><%= "#{index + 1}." %></td>
                  <td><%= medicine.name %></td>
                  <td><%= medicine.common_name %></td>
                  <td><%= medicine.strength %></td>
                  <td><%= medicine.form %></td>
                  <td><%= medicine.active_substance %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    <% end %>
  </fieldset>
</div>

</body>
</html>