<%= form_for([:employee, @employee, @day_schedule], html: {class: 'form-horizontal'}, remote: true) do |f| %>
    <div class="form-group">
      <%= f.label :start_time, 'Czas rozpoczęcia', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="input-group date schedule_time_picker">
          <%= f.text_field :start_time, id: 'day_schedule_start', class: 'form-control', require: true %>
          <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :end_time, 'Czas zakończenia', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="input-group date schedule_time_picker">
          <%= f.text_field :end_time, id: 'day_schedule_end', class: 'form-control', require: true %>
          <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span>
          </span>
        </div>
      </div>
    </div>

    <%= f.hidden_field :day, id: 'day_schedule_day' %>

    <div class="form-actions text-center">
      <%= f.submit 'Zapisz', class: 'btn btn-primary' %>
      <%= link_to 'Usuń',
                  [:employee, @employee, @day_schedule],
                  method: :delete,
                  class: 'btn btn-danger',
                  data: {confirm: 'Czy jesteś pewien?'},
                  remote: true unless @day_schedule.new_record? %>
    </div>
<% end %>