<div class="modal fade" id="new_day_schedule">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Dodaj nową godzine pracy</h4>
      </div>
      <div class="modal-body">
        <%= render 'form'%>
      </div>
    </div>
  </div>
</div>