$('#remote-container').html('<%= j render "edit" %>');
$('#edit_day_schedule').modal('show');
$('.schedule_time_picker').each(function () {
    $(this).datetimepicker({
        locale: 'pl',
        format: 'LT',
        stepping: <%= @employee.appointment_time || 30%>
    });
})