$('#remote-container').html('<%= j render "new" %>');
$('#new_day_schedule').modal('show');
$('.schedule_time_picker').each(function(){
    $(this).datetimepicker({
        locale: 'pl',
        format: 'LT',
        stepping: <%= @employee.appointment_time || 30%>
    });
});