$('#employee-schedule-calendar').fullCalendar('removeEvents', <%= @day_schedule.id %>)
$('#employee-schedule-calendar').fullCalendar('renderEvent',
    $.parseJSON("<%= j render(@day_schedule, format: :json).html_safe %>"),
    true
);
$('.modal').modal('hide');