Witaj <%= @appointment.patient.full_name %>

Pragniemy przypomnieć Ci o Twojej zaplanowanej wizycie lekarskiej dnia <%= @appointment.planned_start.localtime.strftime('%d-%m-%y o godzinie %H:%M') %>

Informacje o wizycie:

Lekarz przyjmujący : <%= @appointment.doctor.full_name %></p>
Przewidywany czas wizyty: <%= (@appointment.planned_end - @appointment.planned_start).to_i.abs / 60.seconds %> minut
Notatka : <%= @appointment.description %>