<h1>Witaj <%= @appointment.patient.full_name %></h1>

<p>
  Pragniemy przypomnieć Ci o Twojej zaplanowanej wizycie lekarskiej
  dnia <%= @appointment.planned_start.localtime.strftime('%d-%m-%y o godzinie %H:%M')
%>
</p>
<h3>Informacje o wizycie :</h3>
<p><strong>Lekarz przyjmujący</strong>: <%= @appointment.doctor.full_name %></p>
<p>
  <strong>Przewidywany czas
    wizyty</strong>: <%= (@appointment.planned_end - @appointment.planned_start).to_i.abs / 60.seconds %>
  minut</p>
<p><strong>Notatka</strong>: <%= @appointment.description %></p>