<%= form_for([:employee, @patient], html: {class: 'form-horizontal', novalidate: true}, data: {parsley_validate: ''}) do |f| %>
  <div class="form-group">
    <%= f.label :first_name, 'Imię:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :first_name, class: 'form-control', required: 'required' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, 'Nazwisko:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :last_name, class: 'form-control', required: 'required' %>
    </div>
  </div>
  <div id="patient_identifier" class="form-group">
    <%= f.label :identifier, 'Identyfikator:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :identifier, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, 'Email:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.email_field :email, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, 'Numer telefonu:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :phone_number, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sex, 'Płeć:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.collection_radio_buttons :sex, sex_select, :second, :first, {}, {required: true} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :blood_group, 'Grupa krwi:', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :blood_group, grouped_options_for_select(blood_group_select), {prompt: '-- Wybierz grupe krwi --'}, {class: 'form-control m-b'} %>
    </div>
  </div>

  <%= f.submit 'Zapisz', class: 'btn btn-primary' %>

<% end %>
