<tr>
  <td><%= patient.first_name %></td>
  <td><%= patient.last_name %></td>
  <td><%= patient.identifier %></td>
  <td><%= patient.sex == 'male' ? 'Mężczyzna' : 'Kobieta' %></td>
  <td>
    <div class="row">
      <%= link_to 'Szczegóły', [:employee, patient], class: 'btn btn-success btn-xs' %>
      <% if can? :edit, patient %>
        <%= link_to 'Edycja', edit_employee_patient_path(patient), class: 'btn btn-info btn-xs' %>
      <% end %>
      <% if can? :destroy, patient %>
        <%= link_to 'Usuń', [:employee, patient], method: :delete, data:{confirm: 'Usunięcie użytkownika usunie wszystkie dane z nim związane'}, class: 'btn btn-danger btn-xs' %>
      <% end %>
    </div>
  </td>
</tr>