<div class="content-heading">
  Lista Pacjentów
  <small>Zarządzaj dostępnymi pacjentami</small>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Lista pacjentów
          <% if can? :new, Patient %>
            <%= link_to 'Nowy Pacjent', new_employee_patient_path, class: 'btn btn-primary pull-right ' %>
          <% end %>
        </div>
        <div class="panel-body">
          <table id="patientsTable" class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Imie</th>
              <th>Nazwisko</th>
              <th>Identyfikator</th>
              <th>Płeć</th>
              <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <%= render partial: 'employee/patients/patient', collection: @patients %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
