<div class="content-heading">
  Dodaj nowego pacjenta
  <div class="pull-right">
    <div class="btn-group">
      <%= angle_back_link employee_patients_path %>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Formularz dodawania</h4>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
