<div class="content-heading">

  Szczegóły pacjenta<br/>
  <small><%= @patient.full_name %></small>

</div>

<div class="row">
  <div class="col-lg-8">
    <!-- Main panel-->
    <div class="panel panel-default">
      <div id="employee-tabs" role="tabpanel">
        <!-- Nav tabs-->
        <ul role="tablist" class="nav nav-tabs">
          <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Historia wizyt</a>
          </li>

        </ul>
        <!-- Tab panes-->
        <div class="tab-content">
          <div id="home" role="tabpanel" class="tab-pane active">

            <%= content_tag :table, id: 'patientAppointmentsTable', class: 'table table-striped table-hover', data: {url: employee_patient_appointments_path(@patient, format: :json)} do %>
              <thead>
              <tr>
                <th>Lekarz</th>
                <th>Rozpoczęcie</th>
                <th>Zakończenie</th>
                <th>Zdiagnozowancyh chorób</th>
                <th>Wypisany recept</th>
                <th>Akcje</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            <% end %>

          </div>
        </div>
      </div>
    </div>
    <!-- End Main panel-->
    <!-- Team messages-->

    <!-- End Team messages-->
  </div>
  <div class="col-lg-4">
    <!-- Aside panel-->
    <div class="panel b">
      <div class="panel-body bb">
        <div class="clearfix">
          <div class="pull-left">
            <h4><%= @patient.full_name %></h4>
          </div>
          <div class="pull-right">
            <% if can? :edit, @patient %>
              <%= link_to 'Edytuj', edit_employee_patient_path(@patient), class: 'btn btn-danger btn-oval' %>
            <% end %>
          </div>
        </div>
      </div>
      <table class="table bb">
        <tbody>
        <tr>
          <td>
            <strong>Imię</strong>
          </td>
          <td><%= @patient.first_name %></td>
        </tr>
        <tr>
          <td>
            <strong>Nazwisko</strong>
          </td>
          <td><%= @patient.last_name %></td>
        </tr>
        <tr>
          <td>
            <strong>Pesel</strong>
          </td>
          <td><%= @patient.identifier %></td>
        </tr>
        <tr>
          <td>
            <strong>Email</strong>
          </td>
          <td><%= @patient.email %></td>
        </tr>
        <tr>
          <td>
            <strong>Numer telefonu</strong>
          </td>
          <td><%= @patient.phone_number %></td>
        </tr>
        <tr>
          <td>
            <strong>Płeć</strong>
          </td>
          <td><%= @patient.sex == 'male' ? 'Mężczyzna' : 'Kobieta' %></td>
        </tr>
        <tr>
          <td>
            <strong>Grupa Krwi</strong>
          </td>
          <td><%= blood_group @patient.blood_group %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- end Aside panel-->
  </div>
</div>
