<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>-->
  <%= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js" %>
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Raport pacjenta</h1>
    </div>
  </div>
  <fieldset>
    <br/>
    <div class="row">
      <div class="col-xs-6">
        <div class="panel b">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-12">
                <h4 class=" text-center m0">Dane pacjenta</h4>
              </div>
            </div>
          </div>
          <table class="table table-hover table-striped">
            <tbody>
            <tr>
              <td>
                <strong>Imię:</strong>
              </td>
              <td><%= @report[:patient].first_name %></td>
            </tr>
            <tr>
              <td>
                <strong>Nazwisko:</strong>
              </td>
              <td><%= @report[:patient].last_name %></td>
            </tr>
            <tr>
              <td>
                <strong>Pesel:</strong>
              </td>
              <td>
                <%= @report[:patient].identifier %>
              </td>
            </tr>
            <% if @report[:patient].blood_group %>
              <tr>
                <td>
                  <strong>Grupa krwi:</strong>
                </td>
                <td>
                  <%= blood_group @report[:patient].blood_group %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </div>
      <div class="col-xs-6">
        <div class="panel b">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-12">
                <h4 class=" text-center m0">Informacje ogólne</h4>
              </div>
            </div>
          </div>
          <table class="table table-hover table-striped">
            <tbody>
            <tr>
              <td>
                <strong>Pacjent:</strong>
              </td>
              <td><%= @report[:patient].full_name %></td>
            </tr>
            <tr>
              <td>
                <strong>Zakres dat:</strong>
              </td>
              <td><%= "Od #{@report[:start_date].strftime('%Y-%m-%d')} do #{@report[:end_date].strftime('%Y-%m-%d')}" %></td>
            </tr>
            <tr>
              <td>
                <strong>Odbytych wizyt :</strong>
              </td>
              <td><%= @report[:main_statistics][:all_appointments_count] %></td>
            </tr>
            <tr>
              <td>
                <strong>Liczba zdiagnozowanych chorób:</strong>
              </td>
              <td><%= @report[:main_statistics][:diagnosed_diseases_count] %></td>
            </tr>
            <tr>
              <td>
                <strong>Liczba wypisanych recept:</strong>
              </td>
              <td><%= @report[:main_statistics][:prescriptions_count] %></td>
            </tr>
            <tr>
              <td>
                <strong>Liczba przepisanych leków:</strong>
              </td>
              <td><%= @report[:main_statistics][:medicines_count] %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </fieldset>
  <br/>
  <fieldset>
    <legend><h3>Rozkład liczby przeprowadzonych wizyt</h3></legend>
    <br/>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel b">
          <canvas id="doctorsAppointmentsDistributionChart" width="800" height="250"></canvas>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend><h3>Rozkład wizyt</h3></legend>
    <br/>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel b">
          <canvas id="ppatientAppointmentsDistributionChart" width="800" height="300"></canvas>
        </div>
      </div>
    </div>
  </fieldset>
  <br/>
  <fieldset>
    <legend><h3>Najczęściej przepisywane leki</h3></legend>
    <br/>
    <% if @report[:diseases_details][:frequently_prescribed_medicine].empty? %>
      <h3 class="text-center">Brak</h3>
    <% else %>
      <div class="panel b">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <td><strong>Nr.</strong></td>
            <td><strong>Nazwa</strong></td>
            <td><strong>Ilość recept</strong></td>
          </tr>
          </thead>
          <tbody>
          <% @report[:diseases_details][:frequently_prescribed_medicine].take(5).each_with_index do |medicine, index| %>
            <tr>
              <td class=" col-xs-1 br"><%= "#{index + 1}." %></td>
              <td><%= medicine[:name] %></td>
              <td><%= medicine[:count] %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </fieldset>
  <br/>
  <fieldset>
    <legend><h3>Najczęściej diagnozowane choroby</h3></legend>
    <br/>
    <% if @report[:diseases_details][:frequently_diagnosed_diseases].empty? %>
      <h3 class="text-center">Brak</h3>
    <% else %>
      <div class="panel b">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <td><strong>Nr.</strong></td>
            <td><strong>Nazwa</strong></td>
            <td><strong>Ilość recept</strong></td>
          </tr>
          </thead>
          <tbody>
          <% @report[:diseases_details][:frequently_diagnosed_diseases].take(5).each_with_index do |disease, index| %>
            <tr>
              <td class=" col-xs-1 br"><%= "#{index + 1}." %></td>
              <td><%= disease[:name] %></td>
              <td><%= disease[:count] %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </fieldset>
</div>
</body>
<style>
  canvas {
    padding: 0;
    margin: auto;
    display: block;
  }
</style>
<script>
    setPatientAppointmentsDistributionChart();
    setPatientDoctorAppointmentsChart();

    function setPatientAppointmentsDistributionChart() {
        var timeFormat = 'DD/MM/YYYY';
        var appointmentsDistribution = <%= @report[:appointments_per_day].to_json.html_safe %>;
        var labels = getKeys(appointmentsDistribution);
        var data = getValues(appointmentsDistribution);
        new Chart(document.getElementById("ppatientAppointmentsDistributionChart"), {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: 'jkjjkjkk',
                        data: data,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderWidth: 1
                    }
                ]
            },
            options: {
                responsive: false,
                legend: {display: false},
                scales: {
                    yAxes: [{
                        ticks: {
                            stepSize: 1
                        }
                    }]
                }
            }
        });
    }

    function setPatientDoctorAppointmentsChart() {
        var doctorsDistribution = <%= @report[:main_statistics][:appointments_per_doctor].to_json.html_safe %>;
        var doctorNames = getKeys(doctorsDistribution);
        var doctorVisitsCount = getValues(doctorsDistribution);
        var ctx = document.getElementById("doctorsAppointmentsDistributionChart").getContext('2d');
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: doctorNames,
                datasets: [{
                    label: '# of Votes',
                    data: doctorVisitsCount,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 110, 30, 0.2)',
                        'rgba(255, 180, 90, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 110, 30, 1)',
                        'rgba(255, 180, 90, 0.2)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false
            }
        });

    }


    function getKeys(object) {
        var r = [];
        for (var i in object) {
            r.push(i);
        }
        return r;
    }

    function getValues(object) {
        var r = [];
        for (var i in object) {
            r.push(object[i]);
        }
        return r;
    }


</script>
</html>
