<div class="alerts-container">
  <% flash.each do |message_type, message| %>
      <div data-notify="" data-onload="" data-message="<em class='<%= notify_icon(notify_status(message_type)) %>'></em> <%= message %>" data-options="{&quot;status&quot;:&quot;<%= notify_status(message_type) %>&quot;}"></div>
  <% end %>
</div>
