<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
  <!-- START navbar header-->
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#/" class="navbar-brand">
      <div class="brand-logo">
        <img src="<%= image_path('angle/logo.png') %>" alt="App Logo" class="img-responsive"/>
      </div>
      <div class="brand-logo-collapsed">
        <img src="<%= image_path('angle/logo-single.png') %>" alt="App Logo" class="img-responsive"/>
      </div>
    </a>
  </div>
  <!-- END navbar header-->
  <!-- START Nav wrapper-->
  <div class="navbar-collapse collapse">
    <!-- START Left navbar-->
    <ul class="nav navbar-nav">
      <li></li>
      <li class="<%= 'active' if controller?('patient/appointmnets') && action?('make_appointment') %>">
        <%= link_to 'Umów wizytę', make_appointment_patient_appointments_path %>
      </li>
      <li class="<%= 'active' if controller?('widgets') && action?('index') %>">
        <%= link_to 'Przeglądaj swoje wizyty', patient_appointments_path %>
      </li>
      <li class="<%= 'active' if controller?('patient/employees') && (action?('work-schedules') or action?('work-schedule')) %>">
        <%= link_to 'Harmonogramy pracy lekarzy', work_schedules_patient_employees_path %>
      </li>
      <li class="<%= 'active' if controller?('patient/reports') && (action?('patients')) %>">
        <%= link_to 'Raport pacjenta', patient_reports_patients_path %>
      </li>


      <li><a href="#dashboard" data-toggle="dropdown">Słowniki</a>
        <ul class="dropdown-menu animated fadeIn">

          <li class="<%= 'active' if controller?('patient/medicines') %>">
            <%= link_to 'Baza lekarstw', patient_medicines_path %>
          </li>
          <li class="<%= 'active' if controller?('patient/diseases') %>">
            <%= link_to 'Baza chorób', patient_diseases_path %>
          </li>
        </ul>
      </li>

    </ul>
    <!-- END Left navbar-->
    <!-- START Right Navbar-->
    <ul class="nav navbar-nav navbar-right">
      <!-- Search icon-->
      <li class="dropdown dropdown-list">
        <a href="#" data-toggle="dropdown">
          <em class="icon-options"></em>
        </a>
        <!-- START Dropdown menu-->
        <ul class="dropdown-menu animated flipInX">
          <li>
            <!-- START list group-->
            <div class="list-group">
              <!-- list item-->


              <a href="/patient/sign_out" data-method="delete" class="list-group-item">
                <div class="media-box">
                  <div class="pull-left">
                    <em class="icon-logout text-info"></em>
                  </div>
                  <div class="media-box-body clearfix">
                    <p class="m0">Wyloguj</p>
                  </div>
                </div>
              </a>
            </div>
            <!-- END list group-->
          </li>
        </ul>
        <!-- END Dropdown menu-->
      </li>
    </ul>
    <!-- END Right Navbar-->
  </div>
  <!-- END Nav wrapper-->
  <!-- START Search form-->

  <!-- END Search form-->
</nav>
<!-- END Top Navbar-->