<!-- START Sidebar (left)-->
<div class="aside-inner">
  <nav class="sidebar">
    <% if current_employee.admin? %>
      <%= render partial: 'layouts/partials/menu/employee/admin_menu' %>
    <% elsif current_employee.doctor? %>
      <%= render partial: 'layouts/partials/menu/employee/doctor_menu' %>
    <% else %>
      <%= render partial: 'layouts/partials/menu/employee/receptionist_menu' %>
    <% end %>

  </nav>
</div>
<!-- END Sidebar (left)-->