<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
  <!-- START navbar header-->
  <div class="navbar-header">
    <a href="/employee/dashboard/welcome" class="navbar-brand">
      <div class="brand-logo">
        <img src="<%= image_path('angle/logo.png') %>" alt="App Logo" class="img-responsive"/>
      </div>
      <div class="brand-logo-collapsed">
        <img src="<%= image_path('angle/logo-single.png') %>" alt="App Logo" class="img-responsive"/>
      </div>
    </a>
  </div>
  <!-- END navbar header-->
  <!-- START Nav wrapper-->
  <div class="nav-wrapper">
    <!-- START Left navbar-->
    <ul class="nav navbar-nav">
      <li>
        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
        <a href="#" data-toggle-state="aside-collapsed" class="hidden-xs">
          <em class="fa fa-navicon"></em>
        </a>
        <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
        <a href="#" data-toggle-state="aside-toggled" data-no-persist="true" class="visible-xs sidebar-toggle">
          <em class="fa fa-navicon"></em>
        </a>
      </li>
    </ul>
    <!-- END Left navbar-->
    <!-- START Right Navbar-->
    <ul class="nav navbar-nav navbar-right">
      <!-- Search icon-->
      <% if can? :generate_appointments, Appointment %>
        <li>
          <%= navigation_link generate_appointments_employee_appointments_path, '', 'icon-cloud-download', 'post' %>
        </li>
      <% end %>
      <li class="dropdown dropdown-list">
        <a href="#" data-toggle="dropdown">
          <em class="icon-options"></em>
        </a>
        <!-- START Dropdown menu-->
        <ul class="dropdown-menu animated flipInX">
          <li>
            <!-- START list group-->
            <div class="list-group">
              <!-- list item-->


              <a href="/employee/sign_out" data-method="delete" class="list-group-item">
                <div class="media-box">
                  <div class="pull-left">
                    <em class="icon-logout text-info"></em>
                  </div>
                  <div class="media-box-body clearfix">
                    <p class="m0">Wyloguj</p>
                  </div>
                </div>
              </a>
            </div>
            <!-- END list group-->
          </li>
        </ul>
        <!-- END Dropdown menu-->
      </li>
    </ul>
    <!-- END Right Navbar-->
  </div>
  <!-- END Nav wrapper-->
  <!-- START Search form-->
  <!-- END Search form-->
</nav>
<!-- END Top Navbar-->