<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Bootstrap Admin App + Ruby on Rails">
  <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
  <title>Angle - Bootstrap Admin Template</title>
  <!-- =============== VENDOR STYLES ===============-->
  <%= stylesheet_link_tag 'base' %>
  <!-- =============== VIEW VENDOR STYLES ===============-->
  <%= stylesheet_link_tag params[:controller] %>
  <!-- =============== APP STYLES ===============-->
  <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>

  <%= csrf_meta_tags %>
</head>

<body>

<%= render partial: 'layouts/partials/flash_msg' %>
<div class="wrapper">
  <%= yield %>
</div>
<div class="p-lg text-center">
  <span>&copy;</span>
  <span>2016</span>
  <span>-</span>
  <span>Angle</span>
  <br>
  <span>Bootstrap Admin Template</span>
</div>
<!-- =============== VENDOR SCRIPTS ===============-->
<%= javascript_include_tag 'base' %>
<!-- =============== VIEW VENDOR SCRIPTS ===============-->
<%= javascript_include_tag params[:controller] %>
<!-- =============== APP SCRIPTS ===============-->
<%= javascript_include_tag 'application' %>
</body>

</html>