<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Bootstrap Admin App + Ruby on Rails">
  <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
  <title>Angle - Bootstrap Admin Template</title>
  <!-- =============== VENDOR STYLES ===============-->
  <%= stylesheet_link_tag 'base' %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <!-- =============== VIEW VENDOR STYLES ===============-->
  <%= stylesheet_link_tag params[:controller] %>
  <!-- =============== APP STYLES ===============-->
  <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>
  <%= csrf_meta_tags %>
</head>

<!-- layout-h will adapt the layout position -->
<body class="layout-h">
<div class="wrapper">
  <!-- top navbar-->
  <header class="topnavbar-wrapper">
    <%= render partial: "layouts/partials/patient_topnavbar" %>
  </header>
  <!-- offsidebar-->
  <!-- Main section-->
  <section>
    <!-- Page content-->
    <div class="content-wrapper">
      <%= yield %>
    </div>
  </section>
  <!-- Page footer-->
  <footer>
    <%= render partial: "layouts/partials/footer" %>
  </footer>
</div>
<div id="remote-container">
</div>
<!-- =============== VENDOR SCRIPTS ===============-->
<%= javascript_include_tag 'base' %>
<!-- =============== VIEW VENDOR SCRIPTS ===============-->
<%= javascript_include_tag params[:controller] %>
<!-- =============== APP SCRIPTS ===============-->
<%= javascript_include_tag 'application' %>
</body>

</html>